on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0
    
on fs
    mount_all /fstab.vee7
    swapon_all /fstab.vee7

# Fix broken Fstab
    wait /dev/block/platform/msm_sdcc.3/by-num/p15
    exec /system/bin/e2fsck -fy /dev/block/platform/msm_sdcc.3/by-num/p15
    mount ext4 /dev/block/platform/msm_sdcc.3/by-num/p15 /persist nosuid nodev barrier=1

on boot	
    
    chmod 0660 /dev/smd11  
    chown system system /dev/smd11	
    chmod 0777 /dev/input/event0
    chmod 0777 /dev/input/event5
    chmod 0777 /dev/input/event3

    chown system system /sys/devices/virtual/input/lge_touch/keyguard
    chown system system /sys/devices/virtual/input/lge_touch/incoming_call
    chown system system /sys/devices/virtual/input/lge_touch/ts_first_enable 
    chown system system /sys/devices/platform/msm_fb.525057/mdp_kcal

    #Set SUID bit for usbhub
    chmod 4755 /system/bin/usbhub
    chmod 755 /system/bin/usbhub_init

    #port-bridge
    chmod 0660 /dev/smd0
    chown system system /dev/smd0

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state
    chown system system /sys/class/android_usb/android0/f_audio_source/pcm
    chmod 0664 /sys/class/android_usb/android0/f_audio_source/pcm

    #For bridgemgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/android_usb/f_rmnet_smd_sdio/transport

    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling

    chmod 0660 /dev/ttyGS0
    chown system system /dev/ttyGS0

    chown system system /sys/devices/platform/lge_boot_mode/send_sync
    chmod 0764 /sys/devices/platform/lge_boot_mode/send_sync

    chown system system /sys/module/lge_emmc_direct_access/parameters/lcd_k_cal
	chown system system /sys/devices/platform/msm_fb.590593/mdp_kcal

    wait /dev/block/mmcblk0p6
    chown root radio /dev/block/mmcblk0p6
    chmod 0770 /dev/block/mmcblk0p6

    chown root system /dev/block/mmcblk0p8
    chmod 0770 /dev/block/mmcblk0p8

    # Set Read Ahead to 1024kb
    write /sys/block/mmcblk0/queue/read_ahead_kb 1024
    write /sys/block/mmcblk1/queue/read_ahead_kb 1024
